@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fffef5;
  color: #3e3921;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
    padding: 0;
}

.main-container {
  padding: 0 56px;
}

.nav-panel {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-panel__link {
  margin-left: 60px;
  color: #3e3921;
  transition: all 0.3s ease-in-out;
}

.nav-panel__link:hover {
  color: #f3d70d;
}

.main-banner {
  margin-top: 84px;
  font-size: 11.5vw;
  line-height: 0.9;
  font-family: "Cormorant", sans-serif;
  font-weight: 500;
}

.holitilin-word {
  color: #f3d70d;
  display: flex;
}

.holitilin-copyright {
  font-size: 4vw;
  position: relative;
}

.move-right-word {
  float: right;
  display: flex;
}

.main-banner-boxes {
  position: absolute;
  right: 0;
  top: 78px;
}

.can-participate {
    font-size: 5vw;
    font-weight: 500;
    font-family: "Cormorant", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 170px;
    text-align: center;
    position: relative;
}

.can-participate-img {
    position: absolute;
    top: 45%;
    right: 7%;
    width: 14vw;
}

.target-patients {
    margin-top: 170px;
    display: flex;
}

.leader__imgs {
    display: flex;
    align-items: center;
}

.leader__intro {
    font-weight: 700;
}

.leader__intro,
.leader__name {
    font-size: 18px;
}

.leader__intro {
    margin-top: 11px;
}

.leader__name {
    margin-top: 8px;
}

.leader__photo {
    margin-right: -10px;
}

.patients {
    font-size: 24px;
    margin-left: 129px;
}

.patients__heading {
    font-weight: 700;
}

.patients__list {
   padding-left: 18px;
}

.patients__list li {
    margin-top: 24px;
}

.research-dates {
    display: flex;
    justify-content: end;
    margin-top: 155px;
}

.research-date {
    margin-left: 140px;
}

.research-date__number {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 9vw;
}

.research-date__text {
    text-align: center;
    font-size: 18px;
}

.attention {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1;
    margin-top: 150px;
}

.brands {
    margin-top: 117px;
}

.holitilin-tablets {
    text-align: center;
}

.holitilin-tablets__img {
    margin-bottom: -43px;
}

.brands__heading {
    font-size: 5vw;
    font-weight: 500;
    font-family: "Cormorant", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.brands__description {
    margin-left: 100px;
}

.brands__description_flex {
    display: flex;
    justify-content: space-between;
}

.holitilin__description {
    margin-top: 72px;
    font-size: 24px;
}

.brands__block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* .brand {
    margin-right: 134px;
} */

.brands__img img {
    margin-left: -63px;
}

.brand__number {
    font-weight: 500;
    font-family: 'Cormorant', sans-serif;
    font-size: 4vw;
}

.brand__name {
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.brand__desc {
    font-size: 18px;
    margin-top: 7px;
} 

.reward {
    margin-top: 146px;
    display: flex;
}

.reward__heading {
    font-size: 1vw;
}

.reward__span {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 9vw;
    display: block;
    margin: -21px -8px;
}

.reward__prices {
    margin-left: 2%;
    font-size: 4vw;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.reward__price {
    font-family: 'Cormorant', sans-serif;
}

.reward__price_span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
}

.apteka {
    margin-top: 147px;
    display: flex;
    font-size: 24px;
}

.apteka__text {
    margin-left: 112px;
}

.apteka__link {
    font-weight: bold;
    color: #F3D70D;
    text-decoration: underline;
}

.questions {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin-top: 66px;
}

.contact {
    text-align: center;
    margin-top: 54px;
}

.contact__name,
.contact__desc,
.contact__mail {
    font-size: 24px;
}

.contact__phone,
.contact__mail {
    display: block;
}

.contact__phone {
    font-family: 'Cormorant', sans-serif;
    font-size: 62px;
    margin-top: 8px;
    color: #3E3921;
}

.contact__mail {
    color: #F3D70D;
    margin-top: 8px;
}

.animated-link {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.circle {
    position: relative;/*относительное позиционирование*/
    width: 128px;/*ширина круга*/
    height: 128px;/*высота круга*/
    border-radius: 50%;/*скругление углов*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D70D;/*цвет круга*/
    transition: all 0.3s ease-in-out;
    margin-left: 16px;
}

.circle:hover {
    background-color: transparent;
    cursor: pointer;
}

.circle:hover .circle__text {
    animation: animate 4s linear infinite;
}

.circle__text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 10s linear infinite;
    transition: 0.3s ease-in-out;
}

.animated-text-span {
    position: absolute;
    left: 51%;/*позиция слева*/
    top: 3%;
    font-size: 16px;/*размер шрифта*/
    font-weight: 600;
    transform-origin: 0 60px;/*точка исхода трансформации*/
}   

.circle__arrow {
    position: absolute;/*абсолютное позиционирование*/
    width: 24px;
    height: 24px;     
    background: url(../img/icons/arrow-right.svg);/*изображение*/
    background-size: cover;/*картинка пропорционально растянута на весь блок*/
    border-radius: 50%;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}   

footer {
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #D3CDB0;
}

.sponsor {
    line-height: 1.5;
}

.sponsor-logo {
    margin-top: 20px;
}