@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fffef5;
  color: #3e3921;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
    padding: 0;
}

.main-container {
  padding: 0 56px;
}

.nav-panel {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-panel__link {
  margin-left: 60px;
  color: #3e3921;
  transition: all 0.3s ease-in-out;
}

.burger-menu {
    display: none;
}

.mobile-burger-img {
    cursor: pointer;
}

.mobile-menu {   
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;    
    background-color: #fffef5;
}

.mobile-menu__link {
    list-style: none;
    margin-top: 15px;
}

.mobile-menu__link_a {
    color: #3E3921;
}

.nav-panel__link:hover {
  color: #f3d70d;
}

.main-banner {
  margin-top: 84px;
  font-size: 11.5vw;
  line-height: 0.9;
  font-family: "Cormorant", sans-serif;
  font-weight: 500;
}

.holitilin-word {
  color: #f3d70d;
  display: flex;
}

.research-word {
    display: flex;
}

.holitilin-copyright {
  font-size: 4vw;
  position: relative;
}

.move-right-word {
  float: right;
  display: flex;
}

.main-banner-boxes {
  position: absolute;
  right: 0;
  top: 78px;
}

.can-participate {
    font-size: 5vw;
    font-weight: 500;
    font-family: "Cormorant", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 170px;
    text-align: center;
    position: relative;
}

.can-participate-img {
    position: absolute;
    top: 45%;
    right: 7%;
    width: 14vw;
}

.target-patients {
    margin-top: 170px;
    display: flex;
}

.leader__imgs {
    display: flex;
    align-items: center;
}

.leader__intro {
    font-weight: 700;
}

.leader__intro,
.leader__name {
    font-size: 18px;
}

.leader__intro {
    margin-top: 11px;
}

.leader__name {
    margin-top: 8px;
}

.leader__photo {
    margin-right: -10px;
}

.patients {
    font-size: 24px;
    margin-left: 129px;
}

.patients__heading {
    font-weight: 700;
}

.patients__list {
   padding-left: 18px;
}

.patients__list li {
    margin-top: 24px;
}

.research-dates {
    display: flex;
    justify-content: end;
    margin-top: 155px;
}

.research-date {
    margin-left: 140px;
}

.research-date__number {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 9vw;
}

.research-date__text {
    text-align: center;
    font-size: 18px;
}

.attention {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1;
    margin-top: 150px;
}

.visits {
    margin-top: 143px;
    width: 100%;
    display: flex;
    font-size: 24px;
}

.visit__mobile {
    display: none;
    margin-top: 60px;
}

.visits__left,
.visits__right {
    width: 50%;
}

.brands {
    margin-top: 117px;
}

.holitilin-tablets {
    text-align: center;
}

.holitilin-tablets__img {
    margin-bottom: -30px;
}

.brands__heading {
    font-size: 5vw;
    font-weight: 500;
    font-family: "Cormorant", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.brands__description {
    margin-left: 100px;
}

.brands__description_flex {
    display: flex;
    justify-content: space-between;
}

.holitilin__description {
    margin-top: 72px;
    font-size: 24px;
}

.holitilin__description_mobile {
    display: none;
}

.brands__block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* .brand {
    margin-right: 134px;
} */

.brands__img img {
    margin-left: -63px;
}

.brand__number {
    font-weight: 500;
    font-family: 'Cormorant', sans-serif;
    font-size: 4vw;
}

.brand__name {
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.brand__desc {
    font-size: 18px;
    margin-top: 7px;
} 

.reward {
    margin-top: 146px;
    display: flex;
}

.reward__heading {
    font-size: 1vw;
}

.reward__span {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 9vw;
    display: block;
    margin: -21px -8px;
}

.reward__prices {
    margin-left: 2%;
    font-size: 4vw;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.reward__price {
    font-family: 'Cormorant', sans-serif;
}

.reward__price_span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
}

.apteka {
    margin-top: 147px;
    display: flex;
    font-size: 24px;
}

.apteka__text {
    margin-left: 112px;
}

.apteka__link {
    font-weight: bold;
    color: #F3D70D;
    text-decoration: underline;
}

.questions {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin-top: 66px;
}

.contact {
    text-align: center;
    margin-top: 54px;
}

.contact__name,
.contact__desc,
.contact__mail {
    font-size: 24px;
}

.contact__phone,
.contact__mail {
    display: block;
}

.contact__phone {
    font-family: 'Cormorant', sans-serif;
    font-size: 62px;
    margin-top: 8px;
    color: #3E3921;
}

.contact__mail {
    color: #F3D70D;
    margin-top: 8px;
}

/* Бегущий текст по кругу анимация */
.animated-link {
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: relative;
    z-index: 10;
    color: #3E3921;
}

.animated-link__text {
    font-weight: 600;
    font-size: 18px;
}

.big-animated-link {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 181px;
}

.big-animated-link__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.circle {
    position: relative;/*относительное позиционирование*/
    width: 128px;/*ширина круга*/
    height: 128px;/*высота круга*/
    border-radius: 50%;/*скругление углов*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D70D;/*цвет круга*/
    transition: all 0.3s ease-in-out;
    margin-left: 16px;
}

.big-circle {
    width: 320px;
    height: 320px;
}

.circle:hover {
    background-color: transparent;
    cursor: pointer;
}

.circle:hover .circle__text,
.circle:hover .circle__text2,
.circle:hover .circle__text3 {
    animation: animate 4s linear infinite;
}

.circle__text,
.circle__text2 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 10s linear infinite;
    transition: 0.3s ease-in-out;
}

.circle__text3 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 10s linear infinite;
    transition: 0.3s ease-in-out;
}

.animated-text-span,
.animated-text-span2 {
    position: absolute;
    left: 51%;/*позиция слева*/
    top: 3%;
    font-size: 16px;/*размер шрифта*/
    font-weight: 600;
    transform-origin: 0 60px;/*точка исхода трансформации*/
}   

.animated-text-span3 {
    position: absolute;
    left: 50%;
    top: 3%;
    font-size: 22px;
    font-weight: 600;
    transform-origin: 0px 150px;
}

.circle__arrow {
    position: absolute;/*абсолютное позиционирование*/
    width: 24px;
    height: 24px;     
    background: url(../img/icons/arrow-right.svg);/*изображение*/
    background-size: cover;/*картинка пропорционально растянута на весь блок*/
    border-radius: 50%;
}

.circle__big-arrow {
    position: absolute;/*абсолютное позиционирование*/
    width: 62px;
    height: 52px;
    background: url(../img/icons/big-arrow-right.svg);
    background-size: cover;/*картинка пропорционально растянута на весь блок*/
    border-radius: 50%;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}   
/* Бегущий текст по кругу анимация конец */

footer {
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #D3CDB0;
}

.sponsor {
    font-size: 18px;
    line-height: 25.2px;
}

.sponsor-logo {
    margin-top: 20px;
}

@media (max-width: 1120px) {
    .nav-panel__link {
        margin-left: 25px;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .big-circle {
        width: 124px;
        height: 124px;
    }

    .circle__arrow {
        width: 15px;
        height: 15px;
    }

    .circle__big-arrow {
        width: 23px;
        height: 19px;
    }

    .animated-text-span,
    .animated-text-span2 {
        transform-origin: 0 38px;
        font-size: 10px;
        left: 50%;
        top: 2%;
    }

    .animated-link__text {
        font-size: 12px;
    }

    .animated-text-span3 {
        font-size: 10px;
        transform-origin: 0px 57px;
    }
}

@media (max-width: 768px) {
    .main-banner {
        font-size: 35px;
    }

    .main-banner-boxes {
        top: 117px;
        left: 230px;
    }

    .animated-link {
        justify-content: end;
    }

    .big-animated-link {
        margin-top: 60px;
    }

    .move-right-word {
        float: none;
    }

    .main-container {
        padding: 0 16px;
    }

    .nav-panel__links {
        display: none;
    }


    .burger-menu {
        display: block;
    }

    .can-participate {
        margin-top: 72px;
        font-size: 22px;
    }

    .can-participate-img {
        top: auto;
        right: 0;
        left: 0;
        bottom: 27px;
        width: 100px;
    }

    .target-patients {
        margin-top: 71px;
    }

    .target-patients {
        flex-direction: column;
    }

    .patients {
        font-size: 15px;
        margin: 24px 0 0 0;
    }

    .patients__list li {
        margin-top: 12px;
    }

    .leader {
        display: flex;
        justify-content: space-evenly;
    }

    .leader__intro, .leader__name {
        font-size: 12px;
    }

    .research-dates {
        margin-top: 48px;
        justify-content: space-between;
    }

    .research-date {
        text-align: center;
        margin: 0;
    }

    .research-date__number {
        font-size: 35px;
    }

    .research-date__text {
        font-size: 12px;
    }

    .research-date__text br {
        display: none;
    }

    .attention {
        font-size: 23px;
        margin-top: 56px;
    }

    .attention br {
        display: none;
    }

    .brands {
        margin-top: 28px;
    }

    .brands__heading {
        font-size: 22px;
    }

    .holitilin-tablets__img {
        margin-bottom: -16px;
    }

    .brands__block {
        margin-top: 16px;
        align-items: flex-start;
    }

    .holitilin__description {
        display: none;
    }
    
    .holitilin__description_mobile {
        display: block;
        margin-top: 24px;
    }

    .brands__img img {
        margin-left: -15px;
    }

    .brands__description {
        margin-left: 0;
    }

    .brands__description_flex {
        flex-direction: column;
    }

    .brand__number {
        font-size: 35px;
    }

    .brand__name {
        margin-top: 4px;
    }

    .brand__desc {
        margin-top: 0;
    }

    .brand__name,
    .brand__desc {
        font-size: 12px;
    }

    .holitilin__description {
        font-size: 15px;
    }

    .visits {
        font-size: 15px;
        margin-top: 60px;
    }

    .visits__left,
    .visits__right {
        width: 100%;
    }

    .visits__right {
        display: none;
    }

    .visit__mobile {
        display: block;
    }

    .visit br {
        display: none;
    }

    .reward {
        margin-top: 48px;
        flex-direction: column;
    }

    .reward__heading {
        font-size: 12px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .reward__span {
        margin: 0 22px 0 0;
        font-size: 35px;
    }

    .reward__prices {
        width: 100%;
        justify-content: center;
        font-size: 35px;
    }

    .reward__price_span {
        font-size: 12px;
    }

    .reward__slash {
        margin: 0 17px;
    }

    .apteka {
        font-size: 15px;
        flex-direction: column;
        margin-top: 60px;
    }

    .apteka img {
        max-width: 128px;
    }

    .apteka__text {
        margin: 8px 0 0 0;
    }

    .questions {
        margin-top: 28px;
        font-size: 22px;
    }

    .contact {
        margin-top: 21px;
    }

    .contact__name,
    .contact__desc,
    .contact__mail {
        font-size: 12px;
    }

    .contact__phone {
        font-size: 22px;
        margin-top: 8px;
    }

    footer {
        margin-top: 30px;
    }

    .sponsor {
        line-height: 16.8px;
        font-size: 12px;
    }
}